@model ShoppingCartViewModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@inject SignInManager<IdentityUser> SignInManager

@if (Model?.ShoppingCart?.ShoppingCartItems != null && Model.ShoppingCart.ShoppingCartItems.Count > 0 && SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="ShoppingCart">
            <i class="bi bi-cart"></i>
            <span id="cart-status" class="badge bg-primary">
                @Model.ShoppingCart.ShoppingCartItems.Count
            </span>
        </a>
    </li>
}

